.admin-tittle {
  text-align: center;
  margin-bottom: 30px;

}

.admin-container {
  display: flex;
  justify-content: center;

  margin: 0px auto;
}

.admin-main {
  padding: 0px 20px;
  width: 956px;

}

.regist-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

@keyframes visible {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

.regist-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  height: 250px;
  animation: visible 0.2s linear alternate;
<<<<<<< HEAD
}

input[type="text"], input[type ="number"] {
  height: 36px;
}
input[type ="number"] {
  
  text-align: right;
}
textarea {
  height: 100%;
  resize: none;
  /* y축 스크롤 자동으로 추가 되는 기능 */
  overflow-y: auto;
}

.regist-info-invisible {
  display: none;
}

.regist-button {
  width: 100%;
  height: 40px;
  color: white;
  background-color: black;
}

.product-mst{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list-container {
  margin-top: 30px;
  width: 70%;
  height: 715px;
  overflow-y: auto;
}

.product-mst-list{
  width: 100%;  
}
.product-mst-list tbody{
  max-height: 100%;
}
.product-mst-list td{
  width: 8%;
  padding: 0px 5px;
}
.product-mst-list td:nth-child(1){
  width: 10%;
}
.product-mst-list td:nth-child(2){
  width: 10%;
}
.product-mst-list td:nth-child(3){
  width: 36%;
  text-align: left;
}
.product-mst-list td:nth-child(4){
  width: 12%;
  text-align: right;
}

.product-mst-list button{
  padding: 3px 7px;
}
.show-option{
  width: 28%;
}

.function-container{
  margin-top: 30px;
  border: 1px solid rgb(198, 198, 198);
  height: 220px;
}

.show-option label{
  display: inline-block;
  padding: 10px 0px 5px;

  font-weight: bold;
}

.show-option textarea{
  margin-bottom: 10px;
  height: 50px;

}
=======
}

input[type=text] {
  height: 36px;
}

textarea {
  height: 100%;
  resize: none;
  /* y축 스크롤 자동으로 추가 되는 기능 */
  overflow-y: auto;
}

.regist-info-invisible {
  display: none;
}

.regist-button {
  width: 100%;
  height: 40px;
  color: white;
  background-color: black;
}
>>>>>>> aa8145d12c9bccb4ef5b272c3df8267d5f22979c
